In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import pandas as pd
from sklearn import datasets, linear_model
from textblob import TextBlob

In [2]:
train = pd.read_csv("./Hotel_Reviews.csv",usecols=['Hotel_Name','Positive_Review'])
train = train.iloc[0:10000,]

In [3]:
grouped_df = train.groupby('Hotel_Name')
grouped_df_sum = train.groupby('Hotel_Name').apply(lambda x: x.sum())

#from multi_rake import Rake
#rake = Rake()
#print(rake.apply(grouped_df_sum['Positive_Review'][1]))
#print(rake.apply(grouped_df_sum['Positive_Review'].values[0]))
#print(len(grouped_df_sum.to_string()))
#for i in range(0, len(grouped_df_sum)):
    #print(rake.apply(grouped_df_sum['Positive_Review'][i]))

In [4]:
#train = train.iloc[1:10,]

In [5]:
#print(train)

In [6]:
#train_X = train.Positive_Review[:, np.newaxis]

In [7]:
#print(train)

In [8]:
keywordArray = {}
attributes = {}
attributes['staff'] = 0
attributes['room'] = 1
attributes['location'] = 2
attributes['breakfast'] = 3
attributes['bed']=4
attributes['service']=5
attributes['station'] = 6
attributes['bathroom'] = 7
attributes['area'] = 8
attributes['bar'] = 9
attributes['view']= 10
attributes['metro'] = 11
attributes['tube'] = 12
attributes['food'] = 13

keyArr = grouped_df.groups.keys()
for k in keyArr :
    keywordArray[k] = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0]
print(keywordArray)

{'Apex Temple Court Hotel': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Grand Royale London Hyde Park': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Hotel Arena': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Hotel Trianon Rive Gauche': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'InterContinental London Park Lane': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'K K Hotel George': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Kube Hotel Ice Bar': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Monhotel Lounge SPA': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Novotel Suites Paris Nord 18 me': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'One Aldwych': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Park Plaza County Hall London': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Splendid Etoile': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'The Park Grand London Paddington': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'The Principal London': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [9]:
reviewTags = []
#for i in range(0,len(train_X)):
 #   eachReview = TextBlob(train_X[i][0])
    #print(eachReview.noun_phrases)
    #print(eachReview.tags)
  #  for j in range(0,len(eachReview.tags)):
   #     if eachReview.tags[j][1] == 'NN' :
            #print(eachReview.tags[j][0])
          #  reviewTags.append(eachReview.tags[j][0])
for i in range(0, len(grouped_df_sum)) :
    eachReview = TextBlob(grouped_df_sum['Positive_Review'][i])
    reviewTags.append([])
    for j in range(0, len(eachReview.tags)) :
        if eachReview.tags[j][1] == 'NN' :
            reviewTags[i].append(eachReview.tags[j][0])

In [10]:
#for i in range(0, len(reviewTags)) :
    #print(reviewTags[i])

In [21]:
hotelnames = []
for k in keywordArray.keys() :
    hotelnames.append(k)
print(hotelnames)
allmostOccurTags = []
from collections import Counter
for i in range(0,len(reviewTags)):
    counter = Counter(reviewTags[i])
    mostOccurTag = counter.most_common(10) 
    for j in range (0,len(mostOccurTag)-1):
        if mostOccurTag[j][0] == 'hotel' :
             mostOccurTag.pop(j)
        for k in range(0, len(mostOccurTag)):
            if mostOccurTag[j][0] in attributes :
                keywordArray[hotelnames[i]][attributes.get(mostOccurTag[j][0])] = mostOccurTag[j][1]
                #attrs = keywordArray.keys()[i]
                #print(keywordArray.keys())
                #attrs[j] = mostOccurTag[j][1]
    allmostOccurTags.append(mostOccurTag)
print(allmostOccurTags)
print(keywordArray)

['Apex Temple Court Hotel', 'Grand Royale London Hyde Park', 'Hotel Arena', 'Hotel Trianon Rive Gauche', 'InterContinental London Park Lane', 'K K Hotel George', 'Kube Hotel Ice Bar', 'Monhotel Lounge SPA', 'Novotel Suites Paris Nord 18 me', 'One Aldwych', 'Park Plaza County Hall London', 'Splendid Etoile', 'The Park Grand London Paddington', 'The Principal London']
[[('room', 354), ('staff', 338), ('location', 317), ('bed', 108), ('bathroom', 77), ('breakfast', 63), ('service', 49), ('bath', 45), ('stay', 45)], [('staff', 581), ('location', 477), ('room', 429), ('breakfast', 234), ('tube', 142), ('building', 104), ('bed', 101), ('reception', 97), ('station', 97)], [('room', 136), ('staff', 123), ('location', 71), ('bed', 51), ('building', 46), ('park', 44), ('restaurant', 31), ('breakfast', 29), ('area', 27)], [('location', 87), ('room', 74), ('staff', 64), ('breakfast', 33), ('view', 27), ('floor', 11), ('bathroom', 10), ('time', 8), ('bed', 8)], [('staff', 43), ('location', 35), ('room', 27), ('breakfast', 18), ('service', 17), ('bed', 6), ('stay', 6), ('everything', 6), ('reception', 5)], [('location', 195), ('staff', 163), ('breakfast', 134), ('room', 122), ('station', 63), ('garden', 59), ('tube', 55), ('bed', 30), ('area', 29)], [('room', 7), ('staff', 5), ('water', 2), ('decor', 2), ('experience', 2), ('bag', 2), ('money', 2), ('ice', 1), ('bar', 1)], [('staff', 15), ('room', 14), ('location', 10), ('bed', 7), ('area', 5), ('day', 3), ('reception', 3), ('service', 3), ('breakfast', 3)], [('room', 67), ('staff', 27), ('location', 10), ('breakfast', 10), ('bed', 8), ('food', 6), ('station', 6), ('walk', 5), ('machine', 5)], [('staff', 63), ('location', 34), ('room', 33), ('bar', 18), ('service', 14), ('food', 8), ('pool', 8), ('night', 7), ('bed', 7)], [('room', 722), ('staff', 646), ('location', 564), ('view', 201), ('breakfast', 151), ('service', 111), ('bed', 110), ('food', 74), ('stay', 73)], [('location', 63), ('staff', 51), ('room', 43), ('view', 33), ('balcony', 11), ('stay', 10), ('metro', 8), ('station', 6), ('floor', 5)], [('staff', 535), ('room', 467), ('location', 364), ('breakfast', 169), ('bed', 121), ('station', 109), ('service', 66), ('stay', 63), ('tube', 56)], [('staff', 438), ('location', 430), ('room', 341), ('building', 111), ('breakfast', 102), ('station', 76), ('bar', 69), ('tube', 65), ('service', 65)]]
{'Apex Temple Court Hotel': [338, 354, 317, 63, 108, 49, 49, 77, 0, 0, 0, 0, 0, 0], 'Grand Royale London Hyde Park': [581, 429, 477, 234, 101, 0, 97, 0, 97, 0, 0, 0, 142, 0], 'Hotel Arena': [123, 136, 71, 29, 51, 0, 0, 29, 27, 0, 0, 0, 0, 0], 'Hotel Trianon Rive Gauche': [64, 74, 87, 33, 8, 0, 10, 10, 8, 0, 27, 0, 0, 0], 'InterContinental London Park Lane': [43, 27, 35, 18, 6, 17, 0, 0, 0, 0, 0, 0, 0, 0], 'K K Hotel George': [163, 122, 195, 134, 30, 0, 63, 30, 29, 0, 0, 0, 55, 0], 'Kube Hotel Ice Bar': [5, 7, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0], 'Monhotel Lounge SPA': [15, 14, 10, 3, 7, 3, 0, 3, 5, 0, 0, 0, 0, 0], 'Novotel Suites Paris Nord 18 me': [27, 67, 10, 10, 8, 6, 6, 0, 0, 0, 0, 0, 0, 6], 'One Aldwych': [63, 33, 34, 18, 7, 14, 0, 0, 7, 18, 0, 0, 0, 8], 'Park Plaza County Hall London': [646, 722, 564, 151, 110, 111, 110, 74, 0, 0, 201, 0, 0, 74], 'Splendid Etoile': [51, 43, 63, 33, 0, 0, 6, 6, 0, 0, 33, 8, 0, 0], 'The Park Grand London Paddington': [535, 467, 364, 169, 121, 66, 109, 0, 56, 0, 0, 0, 56, 0], 'The Principal London': [438, 341, 430, 102, 102, 65, 76, 65, 65, 69, 0, 0, 65, 0]}

In [ ]:
allterms = []
for i in range(0, len(allmostOccurTags)) :
    for j in range(0, len(allmostOccurTags[i])):
        allterms.append(allmostOccurTags[i][j][0])
counter = Counter(allterms)
mostterms = counter.most_common(16)
print(mostterms)